@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-video {
    background-color: $bg-light-grey;
    @include media-breakpoint-down(sm) {
      padding: 80px 0 70px;
    }
    &-holder {
      max-width: 824px;
      margin: 0 auto;
    }
    &-block {
      margin: 0 auto 48px;
      text-align: center;
      h1 {
        margin-bottom: 40px;
        letter-spacing: -0.03em;
        @include media-breakpoint-down(sm) {
          margin-bottom: 32px;
        }
      }
    }
    &-img {
      margin: 0 auto;
      height: 215px;
      width: 288px;
      position: relative;
      @include media-breakpoint-up(xsm) {
        height: 215px;
        width: 343px;
      }
      @include media-breakpoint-up(sm) {
        height: 220px;
        width: 405px;
      }
      @include media-breakpoint-up(xl) {
        width: 685px;
        height: 380px;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        object-fit: contain;
      }
      video {
        position: absolute;
        left: 44%;
        top: 44%;
        transform: translate(-51%, -52%);
        z-index: 1;
        height: 134px;
        width: 282px;
        @include media-breakpoint-down(xs) {
          height: 115px;
          top: 46%;
        }
        @include media-breakpoint-up(xsm) {
          height: 133px;
          top: 45%;
        }
        @include media-breakpoint-up(sm) {
          height: 170px;
          top: 48%;
        }
        @include media-breakpoint-up(md) {
          height: 155px;
          width: 247px;
          top: 44%;
        }
        @include media-breakpoint-up(xl) {
          left: 44%;
          top: 44%;
          transform: translate(-51%, -52%);
          width: 466px;
          height: 261px;
        }
      }
    }
    &-btn {
      position: absolute;
      left: 44%;
      top: 44%;
      transform: translate(-50%, -50%);
      z-index: 3;
      @include media-breakpoint-down(sm) {
        left: 43%;
        top: 45%;
        width: 28px;
        height: 28px;
      }
      svg {
        @include media-breakpoint-down(sm) {
          width: 28px;
          height: 28px;
        }
        rect {
          transition: all $transition;
        }
        &:hover {
          cursor: pointer;
          rect {
            fill: $primary-color;
            fill-opacity: 1;
          }
        }
      }
    }
  }
}

.video {
  &-popup {
    border-radius: 20px;
    max-height: 720px;
    max-width: 1200px;
    width: 85%;
    @include media-breakpoint-up(xl) {
      width: 95%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @media screen and (min-height: 560px) and (max-height: 777px) {
      width: 75%;
    }
    &-holder {
      video {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
    .close-btn {
      position: absolute;
      right: -30px;
      top: 0;
      cursor: pointer;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  z-index: 13;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $heading-color;
  opacity: 0.5;
  z-index: 12;
  cursor: pointer;
}