@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-virtual_numbers_country_price_table {
    &-holder {
      overflow: auto;
    }
    table {
      width: 100%;
      @include media-breakpoint-down(sm) {
        min-width: 700px;
      }
    }
    tr {
      border: none;
      &:nth-child(odd) {
        background-color: rgba(222,243,252,0.46);
      }
    }
    td {
      padding: 8px 15px;
      @include media-breakpoint-between(sm,md) {
        padding: 8px 10px;
      }
      @include media-breakpoint-down(sm) {
        padding: 7px;
      }
    }
    th {
      background-color: $primary-color;
      color: #ffffff;
      padding: 15px;
      @include media-breakpoint-down(sm) {
        padding: 7px;
      }
      &:last-child {
        border-top-right-radius: 8px;
      }
      &:first-child {
        border-top-left-radius: 8px;
      }
    }
    a {
      color: $primary-color;
      text-decoration: none;
      transition: color $transition;
      &:hover {
        color: $text-color;
      }
    }
  }
}
