@import "../../assets/scss/vars";

.section-legal_requirements {
  margin: 50px 0;
  .acc {
    border-bottom: 1px solid $border-color;
    &-head {
      a {
        padding: 10px 0;
        display: block;
      }
    }
    &-content {
      padding: 10px;
      display: none;
      a {
        color: $primary-color;
        text-decoration: none;
        transition: color $transition;
        &:hover {
          color: $text-color;
        }
      }
      ul {
        list-style-type: disc;
        padding-left: 20px;
        li {
          margin-bottom: 10px;
          &::marker {
            color: $primary-color;
          }
        }
      }
    }
  }

}

