@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-table_toll_free_forwarding_rate {
    a {
      color: $primary-color;
      text-decoration: none;
      transition: color $transition;
      &:hover {
        color: $text-color;
      }
    }
    select {
      font-size: 14px;
      font-family: $font-family-dm-sans-regular;
    }
    margin-top: 70px;
    &-holder {
      overflow: auto;
    }
    #selectors {
      max-width: 290px;
      margin: 20px auto;
      padding: 0 10px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      select {
        font-size: 14px;
        font-family: $font-family-dm-sans-regular;
        width: 100%;
        border: unset;
        background-color: $white;
        color: $primary-color;
        height: 50px;
        line-height: 50px;
        &:focus-within {
          outline: none;
        }
      }
    }
    .table {
      border-collapse: separate;
      border-spacing: 0;
      border-right: 1px solid $border-color;
      width: 100%;
      max-width: 1030px;
      margin: 0 auto;
      th, td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        font-size: 14px;
        vertical-align: top;

        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      th {
        background-color: $bg-light-grey;
        border-top: 1px solid $border-color;
      }
    }
  }
}