@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";
@import '../../../../dist/css/splide.min.css';
.section {
  &-partners {
    &-info {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      @include media-breakpoint-down(sm) {
        text-align: left;
      }
      h2 {
        color: $heading-color;
        margin-bottom: 16px;
      }
    }
    .splide {
      &__slide {
        padding: 0 20px;
        a {
          &:hover {
            img, svg {
              &:last-child {
                //display: block;
                opacity: 1;
                visibility: visible;
              }
              &:first-child {
                //display: none;
                opacity: 0;
                visibility: hidden;
                position: absolute;
              }
            }
          }
        }
        img, svg {
          height: 56px;
          &:last-child {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
    &-slider {
      margin-top: 48px;
    }
    &-description {
      font-size: 18px;
      line-height: 26px;
    }
  }
}