@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";
@import '../../../../node_modules/@splidejs/splide/dist/css/splide.min.css';
.section {
  &-partners {
    &-info {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      h2 {
        color: $heading-color;
        margin-bottom: 16px;
      }
    }
    .splide {
      &__slide {
        padding: 0 20px;
        a {
          &:hover {
            img, svg {
              &:last-child {
                display: block;
              }
              &:first-child {
                display: none;
              }
            }
          }
        }
        img, svg {
          height: 56px;
          &:last-child {
            display: none;
          }
        }
      }
    }
    &-slider {
      margin-top: 48px;
    }
  }
}