@import "../../assets/scss/vars";

.section-stylized_numbered_list {
  &-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    h3 {
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  &-number {
    background: $primary-color;
    color: $white;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 25px;
    li {
      &::marker {
        color: $primary-color;
      }
    }
  }
  a {
    color: $primary-color;
    text-decoration: none;
    transition: color $transition;
    &:hover {
      color: $text-color;
    }
  }
}
