@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-form {
    background-color: $icon-color;
    h2 {
      letter-spacing: -0.02em;
      color: $white;
      text-align: center;
      margin-top: 0;
      margin-bottom: 48px;
    }
    &-holder{
      width: 100%;
      margin: 0 auto;
      max-width: 822px;
    }
    input, textarea, select {
      width: 100%;
      border-radius: 8px;
      padding: 15px 16px;
      background-color: $white;
      border: none;
      font-size: $font-size-base;
      &:focus-visible {
        outline: none;
      }
    }
    textarea {
      resize: none;
    }
    label {
      color: $white;
      font-size: 14px;
      line-height: 24px;
      font-family: $font-family-dm-sans-medium;
    }
    &-input {
      &-holder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-col {
        width: 49%;
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
      &-submit {
        display: flex;
        flex-direction: column;
        .wpcf7-submit {
          order: -1;
          font-size: 20px;
          line-height: 24px;
          background-color: $primary-color;
          border-radius: 100px;
          padding: 20px 24px;
          color: $white;
          font-family: $font-family-dm-sans-medium;
          transition: color $transition, background-color $transition;
          cursor: pointer;
          &:hover {
            color: $primary-color;
            background-color: $white;
          }
        }
        p, .wpcf7-spinner {
          display: none;
        }
        &-text {
          text-align: center;
          order: -1;
          display: block!important;
          color: $text-color-light-grey;
          font-size: $font-size-sm;
          margin: 8px 0 0;
          @include media-breakpoint-down(md) {
            text-align: left;
          }
          a {
            text-decoration: underline;
            color: $text-color-light-grey;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .wpcf7-response-output {
      width: 100%;
      margin: 0 auto!important;
      max-width: 822px;
      color: $text-color-light-grey;
      border-color: red;
    }
  }
}
