@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section{
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-prices {
    padding-top: 70px;
    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 25px;
      li {
        margin-bottom: 15px;
        &::marker {
          color: $primary-color;
        }
      }
    }
    &-content {
      max-width: 750px;
    }
    &-notification {
      background: rgba(69, 161, 240, 0.1);
      border-radius: 10px;
      padding: 16px 20px;
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.02em;
      &-holder {
        display: none;
      }
      &-rate {
        span {
          font-weight: 700;
        }
      }
      p {
        margin: 0;
      }
    }
    &-table {
      &-holder {
        display: flex;
        margin-bottom: 30px;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
        @include media-breakpoint-up(xxl) {
          justify-content: space-between;
        }
      }
      &-wrap {
        margin-bottom: 37px;
        @include media-breakpoint-down(sm) {
          overflow: auto;
        }
      }
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        svg {
          cursor: pointer;
          &:hover {
            + .section-prices-table-info-text {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        &-text {
          position: absolute;
          top: 31px;
          right: -10px;
          background-color: $primary-color;
          padding: 20px 11px;
          box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 8px;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          min-width: 300px;
          z-index: 2;
          opacity: 0;
          visibility: hidden;
          transition: all $transition;
          @include media-breakpoint-down(sm) {
            min-width: 250px;
          }
          &:after {
            content: "";
            width: 16px;
            height: 16px;
            border-top: 10px solid transparent;
            border-right: 17px solid $primary-color;
            border-bottom: 10px solid transparent;
            position: absolute;
            top: -14px;
            right: 10px;
            transform: rotate(90deg);
            color: #f0f0f0;

          }
        }
      }
      &-item {
        max-width: 293px;
        width: 100%;
        margin-right: 18px;
        margin-bottom: 18px;
        &:last-child {
          margin-right: 0;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 18px;
          max-width: 100%;
        }
        select {
          width: 100%;
        }
        .select2-container {
          @include media-breakpoint-down(sm) {
            width: 100%!important;
          }
          .select2-selection--single {
            border: 1px solid $primary-color;
            height: 50px;
            line-height: 50px;
          }
          .select2-selection__rendered {
            color: $primary-color;
            line-height: 50px;
          }
          .select2-selection__arrow {
            top: 50%;
            transform: translateY(-50%);
            b {
              border-color: $primary-color transparent transparent transparent;
            }
          }
          .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: $primary-color;
          }

        }
        .limit {
          .select2-container {
            width: 50px!important;
          }
          .select2-selection--single {
            height: 30px;
            line-height: 30px;
          }
          .select2-selection__rendered {
            line-height: 30px;
          }
        }
      }
      .table {
        border-collapse: separate;
        border-spacing: 0;
        border-right: 1px solid $border-color;
        width: 100%;
        margin: 0 auto;
        th, td {
          padding: 8px;
          line-height: 20px;
          text-align: left;
          font-size: 14px;
          vertical-align: top;
          border-left: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          width: 20%;
        }
        th {
          background-color: $bg-light-grey;
          border-top: 1px solid $border-color;
        }
      }
    }
    &-subscription {
      position: relative;
      padding: 70px 0;
      display: none;
      &_plans {
        border: 1px solid $border-color;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        text-align: center;
        background-color: $white;
        @include media-breakpoint-down(sm) {
          margin-bottom: 50px;
        }
        @include media-breakpoint-up(md) {
          max-width: 400px;
        }
        &-item {
          border-bottom: 1px solid $border-color;
          padding: 20px 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          position: relative;
          background-color: $white;
          transition: background-color $transition;
          &:hover {
            background-color: $bg-light-grey;
          }
          @include media-breakpoint-down(sm) {
            padding: 20px 14px 20px 30px;
          }
          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .section-prices-subscription_plans-item-sale,
            .section-prices-subscription_plans-item-economy {
              display: none;
            }
          }
          &-sale {
            font-size: 16px;
            line-height: 16px;
            color: $white;
            padding: 5px;
            background: $primary-color;
            border-radius: 7px;
            margin: 10px;
          }
          &-text {
            font-size: 18px;
            line-height: 16px;
            margin-bottom: 10px;
          }
          &-price {
            font-size: 24px;
            line-height: 16px;
            span {
              &:first-child {
                font-size: 24px;
                line-height: 16px;
              }
              font-size: 14px;
            }
          }
          &-economy {
            color: $primary-color;
          }
        }

        .btn {
          text-align: center;
          margin: 15px;
        }
      }
      &_img {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        min-height: 450px;
        @include media-breakpoint-down(md) {
          min-height: 400px;
        }
        @include media-breakpoint-down(sm) {
          min-height: 334px;
        }
        &-wrap {
          width: 100%;
          overflow: hidden;
          background: $white;
          height: 100%;
          //object-fit: contain;
          //position: absolute;
          //left: 55px;
          //top: 0;
          //border-radius: 12px;
          @include media-breakpoint-down(sm) {

          }
        }
        svg {
          z-index: 3;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 55px;
          height: 16px;
          width: 69px;
          @include media-breakpoint-down(sm) {
            top: 36px;
          }
        }
        &-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2;
          @include media-breakpoint-down(sm) {
            height: unset;
            max-height: 334px;
          }
        }
        &-single {
          position: absolute;
          top: 47%;
          left: 48%;
          transform: translate(-50%, -50%);
          z-index: 1;
          width: 85%;
          @include media-breakpoint-down(sm) {
            top: 44%;
          }
          @include media-breakpoint-down(xs) {
            top: 39%;
          }
        }
      }
    }
  }
}

body {
  .select2-container--default {
    img {
      vertical-align: text-top;
      width: 30px;
      height: 20px;
    }
    &.select2-container--disabled {
      .select2-selection--single {
        opacity: 0.25;
        background-color: $white;
      }
    }
    .select2-results__option--highlighted {
      &.select2-results__option--selectable {
        background-color: $bg-light-grey;
        color: $text-color;
      }
    }
    .select2-results__option--selected {
      background-color: $bg-light-grey;
    }
    &.select2-container--open {
      .select2-selection--single {
        .select2-selection__arrow {
          b {
            border-color:  transparent transparent $primary-color transparent!important;
          }
        }
      }
    }
    .select2-search--dropdown {
      padding: 8px;
      .select2-search__field {
        border-color: $primary-color;
        box-shadow: 0 0 12px rgba(69, 161, 240, 0.25);
        border-radius: 8px;
        padding: 10px 24px;
        &:focus-within {
          outline: none;
        }
      }
    }
    .select2-results {
      & > .select2-results__options {
        overflow-x: hidden;
        img {
          width: 30px;
          height: 20px;
          vertical-align: middle;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $bg-light-grey;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 5px;
    }
  }
  .select2-dropdown {
    border-color: $primary-color;
  }
}