@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section-icon-block {
  padding: 45px 0 30px;
  background-color: $bg-light-grey;
  &-row {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
    padding: 0 25px;
    @include media-breakpoint-down(sm) {
      width: 50%;
    }
    @include media-breakpoint-up(sm) {
      flex: 1;
    }
    img,svg {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }
    p {
      font-weight: 600;
    }
  }
}