@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-forwarding_rates {
    margin-top: 70px;
    a {
      color: $primary-color;
      text-decoration: none;
      transition: color $transition;
      &:hover {
        color: $text-color;
      }
    }
    select {
      font-size: 14px;
      font-family: $font-family-dm-sans-regular;
      width: 100%;
      border: unset;
      background-color: $white;
      color: $primary-color;
      &:focus-within {
        outline: none;
      }
    }
    #selectors {
      max-width: 290px;
      margin: 20px auto;
      border-radius: 4px;
      position: relative;
      &:after {
        content: ">";
        right: 17px;
        top: 13px;
        position: absolute;
        color: $primary-color;
        transform: rotate(90deg);
      }
      select {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        appearance: none;
        border: 1px solid $primary-color;
        border-radius: 4px;
      }
      option {
        color: $text-color;
      }
    }
    .limit_select {
      padding: 0 5px;
      position: relative;
      &:after {
        content: ">";
        font-size: 1rem;
        right: 11px;
        top: 6px;
        position: absolute;
        color: $primary-color;
        transform: rotate(90deg);
      }
      select {
        height: 35px;
        line-height: 35px;
        padding: 0 15px 0 5px;
        appearance: none;
        border: 1px solid $primary-color;
        border-radius: 4px;
        text-align: center;
      }
      option {
        color: $text-color;
      }
    }
    .limit_holder {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &-holder {
      overflow: auto;
    }
    .table {
      border-collapse: separate;
      border-spacing: 0;
      border-right: 1px solid $border-color;
      width: 100%;
      max-width: 1030px;
      margin: 0 auto;
      th, td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        font-size: 14px;
        vertical-align: top;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      th {
        background-color: $bg-light-grey;
        border-top: 1px solid $border-color;
      }
    }
    &-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px 0;
      a, span {
        padding: 8px;
        background-color: $bg-light-grey;
        margin: 4px;
        min-width: 40px;
        text-align: center;
      }
      span {
        color: $text-color;
      }
    }
  }
}