@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section {
  &-app {
    &-block {
      max-width: 824px;
      margin: 0 auto 68px;
      text-align: center;
      @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
      }
      h1 {
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 32px;
        }
      }
      .btn-primary {
        margin-right: 24px;
        @include media-breakpoint-down(md) {
          margin-right: 0;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-video {
      position: relative;
      width: 233px;
      height: 483px;
      margin: 20px 130px;
      overflow: hidden;
      @include media-breakpoint-between(md,lg) {
        margin: 0 30px;
      }
      @include media-breakpoint-down(md) {
        margin: 0;
      }
      @include media-breakpoint-down(sm) {
        width: 143px;
        height: 289px;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      video {
        object-fit: cover;
        width: 230px;
        height: 483px;
        position: absolute;
        left: 3px;
        top: 0;
        z-index: 1;
        border-radius: 36px;
        @include media-breakpoint-down(sm) {
          width: 143px;
          height: 289px;
          border-radius: 22px;
        }
      }
    }
    &-text-block {
      h4 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      &:first-child {
        margin-bottom: 80px;
      }
    }
  }
}