@import "../../assets/scss/vars";
@import "../../assets/scss/grid/mixins/breakpoints";

.section-virtual_pbx_user_guide {
  margin: 50px 0;
  .col-9 {
    a {
      color: $primary-color;
      text-decoration: none;
      transition: color $transition;
      &:hover {
        color: $text-color;
      }
    }
    .scroll-to {
      margin-top: 25px;
      display: block;
    }
  }
  h3,h4 {
    padding-top: 30px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      &::marker {
        color: $primary-color;
      }
    }
    ul {
      list-style-type: circle;
    }
  }
}