@import "vars";
@import "../../node_modules/bootstrap/scss/mixins";

button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    background: $bg-light-grey;
    color: $text-color;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: color $transition, background $transition, border $transition, box-shadow $transition;
    min-width: 188px;
    min-height: 54px;
    line-height: 54px;
    padding: 0 20px;
    font-size: $font-size-md;
    letter-spacing: -0.02em;
    font-family: $font-family-dm-sans-medium;
    @include media-breakpoint-down(md) {
        min-width: 161px;
    }
    &:hover, &:focus {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &.disabled, &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
    &-full {
        width: 100%;
    }
    &-primary {
        color: $white;
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover, &:focus {
            color: $white;
            background-color: $primary-color-dark-blue;
            border-color: $primary-color-dark-blue;
            text-decoration: none;
        }
    }

    &-default {
        background-color: transparent;
        color: $primary-color;
        border-color: $primary-color;
        &:hover, &:focus {
            color: $white;
            border-color: 1px solid $primary-color;
            background-color: $primary-color;
        }
    }
}

.btn-holder {
    @include media-breakpoint-down(lg) {
        text-align: center;
    }
    @include media-breakpoint-down(xsm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }
    .btn-primary {
        @include media-breakpoint-down(xs) {
            margin-bottom: 10px;
            margin-right: 0;
        }
        @include media-breakpoint-up(xsm) {
            margin-right: 16px;
        }
        @include media-breakpoint-up(md) {
            margin-right: 24px;
        }
    }
}