.footer {
  font-family: $font-family-dm-sans-regular;
  background-color: $white;
  font-size: $font-size-sm;
  @include media-breakpoint-down(xxl) {
    padding-top: 40px;
  }
  .logo {
    width: 175px;
    height: 40px;
    margin-bottom: 40px;
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(xxl) {
      flex-direction: column;
      margin-bottom: 32px;
    }
    @include media-breakpoint-up(xxl) {
      padding: 64px 0 40px;
    }
  }
  &-col {
    flex: 1 1 15%;
    padding: 0 15px;
    @include media-breakpoint-up(xxl) {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    @include media-breakpoint-down(xxl) {
      padding: 0;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      margin-top: 0;
      margin-bottom: 16px;
      font-family: $font-family-dm-sans-regular;
      font-weight: 400;
      font-size: $font-size-sm;
      @include media-breakpoint-down(xxl) {
        padding: 8px 0;
        margin-bottom: 0;
      }
    }
    .acc {
      margin-bottom: 10px;
      &-head {
        @include media-breakpoint-down(xxl) {
          position: relative;
          cursor: pointer;
          padding: 0;
        }
        &>a {
          position: relative;
          &:before,
          &:after {
            @include media-breakpoint-down(xxl) {
              content: '';
              position: absolute;
              top: 50%;
              background-color: $icon-color;
              transition: all .3s;
            }
          }
          &:before {
            right: 6px;
            width: 1.5px;
            height: 13.5px;
            margin-top: -7px;
          }
          &:after {
            right: 0;
            width: 13.5px;
            height: 1.5px;
            margin-top: -1px;
          }
          &.active::before {
            transform: scale(0);
          }
          &.active::before,
          &.active::after {
            background-color: $primary-color;
          }
        }
      }
      &-content {
        .sub-menu {
          @include media-breakpoint-down(xxl) {
            display: none;
          }
        }
        li {
          @include media-breakpoint-down(xxl) {
            padding: 12px 0;
          }
        }
        .acc-head{
          &>a {
            cursor: default;
            color: $text-color;
            @include media-breakpoint-up(xxl) {
              margin-bottom: 16px;
            }
          }
          @include media-breakpoint-down(xxl) {
            padding: 0;
          }
          #menu-footer-contact-us {
            .sub-menu {
              a {
                @include media-breakpoint-up(xxl) {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
        a {
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          font-family: $font-family-dm-sans-regular;
        }
      }
    }
  }
  &-logo {
    display: block;
    margin-bottom: 40px;
    @include media-breakpoint-down(xxl) {
      text-align: center;
      margin-bottom: 32px;
    }
    path {
      transition: $transition;
    }
    &:hover {
      path {
        &:not(:nth-child(1)) {
          fill: $primary-color;
        }
      }
    }
    svg, img {
      @include media-breakpoint-down(xxl) {
        width: 175px;
        height: 40px;
      }
    }
  }
  &-social {
    margin: 0 auto;
    width: 228px;
    text-align: center;
    &-holder {
      @include media-breakpoint-down(xxl) {
        margin-bottom: 16px;
      }
    }
    &-item {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        path {
          fill: $primary-color;
        }
      }
      path {
        transition: all $transition;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &-copyright {
    border-top: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 14px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      padding: 32px 0;
    }
  }
  &-text {
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }
  }
  &-contact {
    @include media-breakpoint-down(md) {
      padding: 12px 0;
    }
    &-link {
      path {
        transition: all $transition;
      }
      &:hover {
        path {
          fill: $primary-color;
        }
      }
      svg {
        margin-right: 4px;
      }
    }
  }
  &-back-top {
    a {
      path {
        transition: all $transition;
      }
      &:hover {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}

.tel-icon {
  a {
    position: relative;
    padding-left: 16px;
    &:hover {
      &:before {
        background-image: url('../../assets/img/tel_hover.svg');
      }
    }
    &:before {
      content: '';
      background-image: url('../../assets/img/tel.svg');
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-image $transition;
    }
  }
}

.email-icon {
  a {
    position: relative;
    padding-left: 20px;
    &:hover {
      &:before {
        background-image: url('../../assets/img/mail_hover.svg');
      }
    }
    &:before {
      content: '';
      background-image: url('../../assets/img/mail.svg');
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-image $transition;
    }
  }
}