@import "grid/bootstrap-grid";
@import "../../assets/scss/grid/mixins/breakpoints";
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  .col-3 {
    width: 33.33%;
  }
  .col-9 {
    width: 66.67%;
  }
  [class^="col-"] {
    padding: 0 20px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

