@import "navbar";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  font-family: $font-family-dm-sans-regular;
  background-color: $bg-light-grey;
  a {
    text-decoration: none;
    color: $text-color;
    &:hover {
      color: $primary-color;
      transition: color $transition;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .main-nav {
    li {
      margin-right: 48px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-logo {
    height: 46px;
    img {
      width: 203px;
      height: 46px;
    }
  }
  .cart-aside-active & {
    overflow-y: scroll;
  }

  .admin-bar & {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }

    @media screen and (max-width: 600px) {
      position: absolute;

      &.mobile-fixed {
        top: 0;
        position: fixed;
      }
    }
  }
  .btn {
    min-width: 126px;
    min-height: 48px;
    line-height: 48px;
  }
  &-top-bar {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__col-link {
      display: flex;
      align-items: center;
    }
    &__links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-main {
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0;
    }
  }
}

