body {
  margin: 0;
  min-width: 360px;
}
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $heading-color;
  transition: color $transition;
  &:hover {
    color: $primary-color;
  }
}

p {
  color: $text-color;
}