.wp-block-spacer {
  &.is-style-responsive-large {
    height: 240px !important;

    @include media-breakpoint-down(lg) {
      height: 180px !important;
    }

    @include media-breakpoint-down(sm) {
      height: 120px !important;
    }
  }

  &.is-style-responsive-medium {
    height: 160px !important;

    @include media-breakpoint-down(lg) {
      height: 120px !important;
    }

    @include media-breakpoint-down(sm) {
      height: 80px !important;
    }
  }

  &.is-style-responsive-small {
    height: 80px !important;
  }
}