h1,
.h1 {
  font-size: 56px;
  line-height: 58px;
  font-family: $font-family-syne-semi-bold;
  letter-spacing: -0.02em;
  color: $heading-color;
  margin-top: 0;
  font-weight: 600;
  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 40px;
  }
}

h2,
.h2 {
  font-size: 38px;
  line-height: 40px;
  font-family: $font-family-syne-semi-bold;
  letter-spacing: -0.02em;
  color: $heading-color;
  margin-top: 0;
  font-weight: 600;
  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  font-family: $font-family-syne-semi-bold;
  color: $heading-color;
  font-weight: 600;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1;
  margin-top: 0;
  font-family: $font-family-syne-semi-bold;
  color: $heading-color;
  font-weight: 600;
}

.text-right {
  text-align: right;
}