// GRID
$grid-breakpoints: (
        xs: 0,
        xsm: 375px,
        sm: 576px,
        md: 767px,
        lg: 980px,
        xl: 1024px,
        xxl: 1200px,
        max: 1440px,

);
$container-max-widths-xxl: 1289px;

$container-max-widths: (
        xxl: $container-max-widths-xxl
);

$grid-gutter-width: 40px;

// FONTS
$font-family-dm-sans-regular: "DMSans-Regular", sans-serif;
$font-family-dm-sans-medium: "DMSans-Medium", sans-serif;

$font-size-base: 16px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-root : null;
$line-height: 1.4;

//COLORS
$white: #fff;
$primary-color: #45A1F0;
$primary-color-dark-blue: #152230;
$text-color: #434C53;
$text-color-light-grey: #C4C6C8;
$heading-color: #112434;
$bg-light-grey: #F4F5FA;
$border-color: #DBE5EE;
$icon-color: #09243D;
$error-color: #D92D20;

//BASE
$transition: 0.35s;



