@import "../../assets/scss/grid/mixins/breakpoints";
@import "../../assets/scss/vars";

.blog {
  &_title {
    margin: 30px 0;
    @include media-breakpoint-up(xxl) {
      margin: 50px 0;
    }
  }
  &_posts {
    display: flex;
    flex-wrap: wrap;
  }
  &_post {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 49%;
      &:nth-child(odd) {
        margin-right: 15px;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 31%;
      &:nth-child(even) {
        margin-right: 15px;
      }
    }
    @include media-breakpoint-up(xxl) {
      width: 32%;
      margin-right: 15px;
    }
    &_title {
      margin-top: 10px;
    }
    &_meta {
      &_date {
        font-weight: 600;
      }
    }
  }
  &_image {
    text-align: center;
    img {
      @include media-breakpoint-up(md) {
        object-fit: cover;
        height: 270px;
        width: 100%;
      }
    }
  }
  &_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    a, span {
      padding: 8px;
      background-color: $bg-light-grey;
      margin: 4px;
      min-width: 40px;
      text-align: center;
      color: $primary-color;
    }
    span {
      color: $text-color;
    }
  }
}
