@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "assets/scss/vars";
@import "assets/scss/mixins";

.section-breadcrumbs {
  padding-top: 16px;
  padding-bottom: 16px;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .breadcrumbs {
    display: flex;
    //flex-wrap: wrap;

    &-item {
      position: relative;
      font-size: 12px;
      margin-right: 11px;
      overflow: hidden;
      flex-shrink: 0;

      &:last-child {
        flex-shrink: 1;
      }

      a {
        text-decoration: none;
        color: $gray_dark;
        opacity: 0.4;
        transition: opacity .1s;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          opacity: 1;
        }
      }

      &:not(:first-child) {
        padding-left: 15px;

        &::before {
          content: "";
          width: 6px;
          height: 8px;
          background-image: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.19305 0.473338C0.933047 0.733338 0.933047 1.15334 1.19305 1.41334L3.77971 4L1.19305 6.58667C0.933047 6.84667 0.933047 7.26667 1.19305 7.52667C1.45305 7.78667 1.87305 7.78667 2.13305 7.52667L5.19305 4.46667C5.45305 4.20667 5.45305 3.78667 5.19305 3.52667L2.13305 0.466671C1.87971 0.213338 1.45305 0.213338 1.19305 0.473338Z' fill='%23BBBEBE'/%3E%3C/svg%3E%0A");
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -4px;
          left: 0;
        }
      }

      &:last-child {
        a {
          opacity: 1;
        }
      }
    }
  }
}