@import "vars";
@import "normalize";
@import "grid";
@import "typography";
@import "mixins";
@import "section";
@import "buttons";
@import "header";
@import "footer";
@import "social";
@import "fonts";
@import "sidebar";

* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $text_color;
  font-family: $font-family-dm-sans-regular;
  letter-spacing: -0.02em;
  @include font-size($font-size-base);
  line-height: 24px;
  @include media-breakpoint-down(md) {
    &.overflow-hidden {
      overflow: hidden;
    }
  }
  &.cart-aside-active {
    overflow-y: scroll;
  }
}

::-webkit-input-placeholder {
  font-family: $font-family-dm-sans-regular;
  font-size: $font-size-base;
  color: $text-color;
}
:-moz-placeholder {
  font-family: $font-family-dm-sans-regular;
  font-size: $font-size-base;
  color: $text-color;
}
::-moz-placeholder {
  font-family: $font-family-dm-sans-regular;
  font-size: $font-size-base;
  color: $text-color;
}
:-ms-input-placeholder {
  font-family: $font-family-dm-sans-regular;
  font-size: $font-size-base;
  color: $text-color;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    flex: 1;
    margin-top: 116px;
    @include media-breakpoint-down(lg) {
      margin-top: 74px;
    }
  }
}

.container {
  @include media-breakpoint-down(sm){
    padding-left: 16px;
    padding-right: 16px;
  }
  &-large {
    max-width: 1544px;
  }
}
